@-webkit-keyframes dropheader {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

::-webkit-scrollbar {
  visibility: hidden;
}

#chat_box {
  background-color: rgba(0,0,0,0) !important;
    margin: 0px auto;
    width: 100% !important;
}

.chat_line[data-nick="Chat"] {
    display: none !important
}

.chat_line {
  display: flex !important;
  justify-content: space-between !important;
  flex-flow: row wrap !important;
  background: linear-gradient(0deg, rgba(0,0,0,1.0), rgba(0,0,0,0) 15px, rgba(0,0,0,0) calc(100% - 15px), rgba(0,0,0,1.0)),
  linear-gradient(90deg, rgba(0,0,0,1.0), rgba(0,0,0,0) 15px, rgba(0,0,0,0) calc(100% - 15px), rgba(0,0,0,1.0)),
  url(https://raw.githubusercontent.com/Penwy/css-chatboxes/main/signalis/assets/signalis_background1.png) ,
  url(https://raw.githubusercontent.com/Penwy/css-chatboxes/main/signalis/assets/signalis_background.png) !important;
  margin: 0px 0px 0px 0px !important;
  border-radius: 15px !important;
  padding: 10px 10px 3px 10px!important;
    -webkit-animation-name: dropheader !important;
    -webkit-animation-iteration-count: 1 !important;
    -webkit-animation-timing-function: ease-out !important;
    -webkit-animation-duration: 0.2s !important;
    position: relative !important;
    overflow: visible !important;
}

.chat_line .badges {
    display : inline !important;
    order:  2 !important;
    display: inline !important;
  line-height: 25px !important;
  background: rgb(0,0,0,0) !important;
  background-clip: padding-box !important;
  border: 0px solid transparent !important;
}



.chat_line .badges .tag {
    filter: grayscale(100%) !important;
    height: 25px !important;
    width: 25px !important;
  padding: 0px 0px 0px 0px !important;
    display: inline !important;
    vertical-align: text-bottom !important;
    word-wrap: break-word !important;
}

.chat_line .nick {
  margin: 0px 0px 5px 0px !important;
  padding: 0px 0px 0px 0px !important;
  width : 100% !important;
  color: rgba(0,0,0,1) !important;
  background: rgba(214,54,1,1) !important;
  line-height: 1 !important;
  order:  -1 !important;
  display: inline !important;
    font-family: Orange Kid  !important;
    font-size: 25px !important;
  font-weight: 200 !important;
    word-wrap: break-word !important;
  border: 0px solid transparent !important;
}

.chat_line .colon {
  order:  1 !important;
  display: inline !important;
  background: transparent !important;
  color: transparent !important;
}

.chat_line .message {
    filter: grayscale(100%) !important;
  order:  0 !important;
    color: rgba(200,200,200,1) !important;
  width: 100% !important;
  background: rgb(0,0,0,0) !important;
  background-clip: padding-box !important;
  padding: 0px !important;
  margin: 0px 0px 5px 0px !important;
    line-height:  1.0 !important;
    font-family: Orange Kid  !important;
    font-size: 20px !important;
  font-weight: 100 !important;
  border: 6px solid transparent !important;
  border-image-slice: 6 4 6 4  fill !important;
  border-image: url(https://raw.githubusercontent.com/Penwy/css-chatboxes/main/signalis/assets/signalis_border.png) 6 4 6 4 repeat  !important;
}